<footer class="site-footer">
    <p>
        Text is available under the
        <a
            href="https://en.wikipedia.org/wiki/Wikipedia:Text_of_the_Creative_Commons_Attribution-ShareAlike_4.0_International_License"
            target="_blank"
            rel="noopener noreferrer">Creative Commons Attribution-ShareAlike 4.0 License</a>
    </p>
</footer>