<header class="site-header">
  <h1 class="site-title">Shameful History</h1>
  <p class="site-subtitle">of the United States of America</p>
  <p>
    A timeline of events where the US government did something shameful or,
    through inaction, allowed something shameful to happen.
  </p>
</header>
