<nav class="top-bar">
  {% if page.url == '/404.html' %}
    <a href="/" class="suggest-link">Home</a>
  {% else %}
    <a
      href="https://github.com/abraham/shameful-history#contributing"
      class="suggest-link"
      target="_blank"
      rel="noopener noreferrer">
      Suggest Event</a>
  {% endif %}
  {% include "theme-toggle.njk" %}
</nav>