<div class="timeline-item">
    <div class="timeline-content">
        <span class="date">{{ post.date | readableDate: post.data.endDate }}</span>
        <h2>{{ post.data.title }}</h2>
        {% if post.data.image %}
            <img src="{{ post.data.image }}" alt="{{ post.data.imageDescription | default: post.data.title | escape }}" class="timeline-image"/>
            {% if post.data.imageAttribution %}
                <div class="image-attribution">
                    Image by
                    {% if post.data.imageSourceUrl %}
                        <a href="{{ post.data.imageSourceUrl }}" target="_blank" rel="noopener noreferrer">{{ post.data.imageAttribution }}</a>
                    {% else %}
                        {{ post.data.imageAttribution }}
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
        <p>{{ post.content }}</p>
        {% if post.data.sourceUrl %}
            <a href="{{ post.data.sourceUrl }}" class="source-link" target="_blank" rel="noopener noreferrer">Source</a>
        {% endif %}
    </div>
</div>